<nav class="flex justify-between items-center bg-sky-50 h-16 fixed w-full top-0 z-10 p-8">
  <%= link_to "ChatApp", chat_rooms_path, class: "font-bold text-4xl" %>
  <div>
    <% if current_user %>
      <div class="flex font-semibold text-lg">
        <%= link_to  "Chat Rooms", chat_rooms_path, class: "mx-8 hover:font-bold" %>
        |
        <%= link_to 'New Chat Room', new_chat_room_path, class: "mx-8 hover:font-bold" %>
        |
        <%= link_to "Profile", user_path, class: "mx-8 hover:font-bold" %>
        |
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "ml-8 hover:font-bold" %>
      </div>
    <% else %>
      <div class="font-semibold">
        <%= link_to "Login", new_user_session_path, class: "mr-8 hover:font-bold" %>
        |
        <%= link_to "Sign up", new_user_registration_path, class: "ml-8 hover:font-bold" %>
      </div>
    <% end %>
  </div>
</nav>
<div class="pt-20"></div>