<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen h-screen text-gray-800 overflow-x-hidden">
    <%= render 'shared/navbar' %>
    <main class="container mx-auto w-11/12">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
